# Files to ignore
*.DS*
*.csv
*.pdf
*project_overview.md
20181101_COMMS_CATFBrandGuide.pdf
project_overview.md
*running_todo.md
*running_todo.html
Claude**
notes/timeline/Refactor Architecture.md
notes/advice.txt

# Folders to ignore
*data/
*documents/
*admin/
*output/samples
*models/
*notes/phase2/
*docs/notes/phase2/


# Python bytecode
__pycache__/
*.pyc
/.quarto/
